{% if user.is_authenticated %}
  <div class="btn-group" role="group" aria-label="Basic outlined example">
    <button type="button" class="btn btn-outline-primary">
      <a class="text-decoration-none text-reset"
         href="{% url 'blog:post_create' %}">
        Написать пост
      </a>
    </button>

    <button type="button" class="btn btn-outline-primary">
      <a class="text-decoration-none text-reset"
         href="{% url 'blog:profile' user.username %}">
        {{ user.username }}
      </a>
    </button>

    <button type="button" class="btn btn-outline-primary">
      <a class="text-decoration-none text-reset"
         href="{% url 'logout' %}">
        Выйти
      </a>
    </button>
  </div>
{% endif %}
